:javascript
  window.Tasks = new Todos.Models.Tasks()
  window.Tasks.reset(#{@tasks.to_json})

.topbar-wrapper{:style=>"z-index: 5;"}
  .topbar
    .topbar-inner
      .container

.task.new
  %span(style="margin:0 auto 0 auto;display:block;width:65%;")
    %input(type="text" class="name span11" placeholder="Enter a new task")
    .error

.tasks
  .incomplete
  .completed

